<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="HCP" USER="SXKREAS" PASSWD="jade4eas" CLIENT="507" LANG="EN" ASHOST="hcp.sap.bayerbbs.net" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
          <add NAME="D2R" USER="SXKOR-TEST" PASSWD="MAMBOKOR" CLIENT="508" LANG="EN" ASHOST="BY-SAP-D2R.BAYER-AG.COM" SYSNR="10" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <appSettings>
    <add key="AppConfigPath" value="C:\Temp\eWorks_project\eWorks\eWorkflow\0.Config\common.config"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows" />
    <!--<identity impersonate="true" password="Il0veSQL1029!" userName="AD-BAYER-CNB\MWBRD" />-->

    <!--<identity impersonate="true" password="L0calAppl61!" userName="AD-BAYER-CNB\MWCXC" />-->
    <identity impersonate="true" password="whgywlsWkd1029!" userName="AD-BAYER-CNB\GIDCJ" />
    <compilation debug="true" targetFramework="4.5">

    </compilation>

    <httpRuntime targetFramework="4.5" />

    <httpModules />
    <!--
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
	
	<authentication mode="Windows" />
	<identity impersonate="true" password="whgywlsWkd1028!" userName="AD-BAYER-CNB\GIDCJ" />
	-->
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding_Default" sendTimeout="00:01:30" receiveTimeout="00:01:30" openTimeout="00:01:30" closeTimeout="00:01:30"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Bayer.WCF.Service.MailingService">
        <endpoint name="MailingService" address="" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_Default" behaviorConfiguration="Behavior_Default" contract="Bayer.WCF.Service.IMailingServices"/>
      </service>
      <service name="Bayer.WCF.Service.AfterTreatment">
        <endpoint name="AfterTreatment" address="" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_Default" behaviorConfiguration="Behavior_Default" contract="Bayer.WCF.Service.IAfterTreatment"/>
      </service>
    </services>
   
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>-->
          <serviceAuthorization impersonateCallerForAllOperations="true" />
          
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Behavior_Default">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>