<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 웹서비스 주기 -->
    <add key="interval" value="60000" />
    <!-- 웹서비스 시작시간 -->
    <add key="operatingtime" value="07:45:00" />
    <!-- 로그저장 여부, Y:저장, N:저장안함-->
    <add key="LogWriteYN" value="Y" />
    <!-- 로그 경로 -->
    <add key="LogFilePath" value="F:\Project\eWorksWinSvc\PushNoticeMail_Log" />
    <!-- 메일발송 웹서비스 경로 -->
    <add key="WCFServiceUrl" value="http://by0y9n.bayer.cnb/eWorkServices" />
    <!-- 웹서비스 발송 기준일 -->
    <add key="basicdate" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <connectionStrings>
    <add name="MSSQL" connectionString="server=BSGSGPS1051\APPD102,54643;database=eWorkflow;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.web>
    <authentication mode="Windows" />
    <!--<identity impersonate="true" password="Il0veSQL1029!" userName="AD-BAYER-CNB\MWBRD" />-->

    <identity impersonate="true" password="L0calAppl61!" userName="AD-BAYER-CNB\MWCXC" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>