<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">

      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>

    </sectionGroup>
  </configSections>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="HCP" USER="SXKREAS" PASSWD="jade4eas" CLIENT="507" LANG="EN" ASHOST="hcp.sap.bayerbbs.net" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
          <add NAME="D2R" USER="SXKOR-TEST" PASSWD="MAMBOKOR" CLIENT="508" LANG="EN" ASHOST="BY-SAP-D2R.BAYER-AG.COM" SYSNR="10" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <appSettings>
    <add key="AppConfigPath" value="F:\Project\eWorks\config\common.config"/>
    <!-- 로그저장 여부, Y:저장, N:저장안함-->
    <add key="LogWriteYN" value="Y" />
    <!-- 로그 경로 -->
    <add key="LogFilePath" value="F:\Project\eWorks\win\Debug\Log" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>