/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_LXGrid
{
    border:0px solid #828282;
    background:#fff;
    color:#333;
    font-family:dotum,Verdana,Arial, sans-serif;
    font-size:12px;
}

.RadGrid_LXGrid,
.RadGrid_LXGrid .rgMasterTable,
.RadGrid_LXGrid .rgDetailTable,
.RadGrid_LXGrid .rgGroupPanel table,
.RadGrid_LXGrid .rgCommandRow table,
.RadGrid_LXGrid .rgEditForm table,
.RadGrid_LXGrid .rgPager table,
.GridToolTip_LXGrid
{
   font-family:dotum,Verdana,Arial, sans-serif;
}

.RadGrid_LXGrid .rgAdd,
.RadGrid_LXGrid .rgRefresh,
.RadGrid_LXGrid .rgEdit,
.RadGrid_LXGrid .rgDel,
.RadGrid_LXGrid .rgFilter,
.RadGrid_LXGrid .rgPagePrev,
.RadGrid_LXGrid .rgPageNext,
.RadGrid_LXGrid .rgPageFirst,
.RadGrid_LXGrid .rgPageLast,
.RadGrid_LXGrid .rgExpand,
.RadGrid_LXGrid .rgCollapse,
.RadGrid_LXGrid .rgSortAsc,
.RadGrid_LXGrid .rgSortDesc,
.RadGrid_LXGrid .rgUpdate,
.RadGrid_LXGrid .rgCancel,
.RadGrid_LXGrid .rgUngroup,
.RadGrid_LXGrid .rgExpXLS,
.RadGrid_LXGrid .rgExpDOC,
.RadGrid_LXGrid .rgExpPDF,
.RadGrid_LXGrid .rgExpCSV
{
	background-image:url('/CP/Style/images/telerikicon/icons_grid.gif');
}

/*header*/

.RadGrid_LXGrid .rgHeaderDiv
{
	background:#eee 0 -7550px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7050px;
}

.RadGrid_LXGrid .rgHeader,
.RadGrid_LXGrid th.rgResizeCol
{
	height:20px;
	border:0;
	
}
.RadGrid_LXGrid .rgHeader
{
    border-bottom:1px solid #d6d6d6;
}


.RadGrid_LXGrid th.rgSorted
{
	background-color:#f6f6f6;
	background-position:0 -2600px;

   
}

.RadGrid_LXGrid .rgHeader,
.RadGrid_LXGrid .rgHeader a
{
    color:#333;
}

/*rows*/

.RadGrid_LXGrid .rgRow td,
.RadGrid_LXGrid .rgAltRow td,
.RadGrid_LXGrid .rgEditRow td,
.RadGrid_LXGrid .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 0;

}

.RadGrid_LXGrid .rgRow td
{
	border-color:#fff;
}

.RadGrid_LXGrid .rgAltRow
{
	background:#f2f2f2;
}

.RadGrid_LXGrid .rgAltRow td
{
	border-color:#f2f2f2;
}

.RadGrid_LXGrid .rgRow .rgSorted
{
	border-bottom-color:#f2f2f2;
	background-color:#f2f2f2;
}

.RadGrid_LXGrid .rgAltRow .rgSorted
{
	border-bottom-color:#e6e6e6;
	background-color:#e6e6e6;
}

.RadGrid_LXGrid .rgSelectedRow .rgSorted,
.RadGrid_LXGrid .rgActiveRow .rgSorted,
.RadGrid_LXGrid .rgHoveredRow .rgSorted,
.RadGrid_LXGrid .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_LXGrid .rgRow a,
.RadGrid_LXGrid .rgAltRow a,
.RadGrid_LXGrid .rgEditRow a,
.RadGrid_LXGrid tr.rgEditRow a,
.RadGrid_LXGrid tr.rgHoveredRow a,
.RadGrid_LXGrid tr.rgActiveRow a,
.RadGrid_LXGrid .rgFooter a,
.RadGrid_LXGrid .rgEditForm a
{
	color:#000;
}

.RadGrid_LXGrid .rgSelectedRow
{
    background:#e3e9ea; /*background:#e3e9ea 0 -3900px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');*/
    color:#fff;
}
*+html .RadGrid_LXGrid .rgSelectedRow .rgSorted{background-color:#e3e9ea}
* html .RadGrid_LXGrid .rgSelectedRow .rgSorted{background-color:#e3e9ea}

.RadGrid_LXGrid .rgSelectedRow a
{
	color:#fff;
}

.RadGrid_LXGrid .rgActiveRow,
.RadGrid_LXGrid .rgHoveredRow
{
    background:#c5c5c5 0 -2900px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');
    color:#333;
}
*+html .RadGrid_LXGrid .rgActiveRow .rgSorted,
*+html .RadGrid_LXGrid .rgHoveredRow .rgSorted{background-color:#c5c5c5}
* html .RadGrid_LXGrid .rgActiveRow .rgSorted,
* html .RadGrid_LXGrid .rgHoveredRow .rgSorted{background-color:#c5c5c5}

.RadGrid_LXGrid .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');
	color:#333;
}
*+html .RadGrid_LXGrid .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_LXGrid .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_LXGrid .rgActiveRow td,
.RadGrid_LXGrid .rgActiveRow td.rgSorted,
.RadGrid_LXGrid .rgHoveredRow td,
.RadGrid_LXGrid .rgHoveredRow td.rgSorted
{
	border-bottom-color:#e3e9ea;
}

.RadGrid_LXGrid .rgSelectedRow td,
.RadGrid_LXGrid .rgSelectedRow td.rgSorted
{
	border-bottom-color:#e3e9ea;
}

.RadGrid_LXGrid .rgDrag
{
	/*background-image:url('WebResource.axd?d=8GlRj-fHm7xBw0YK6YChnOnLC5PtrxteTAdehVAiORA9lU0g00atW7gorOVZk4yTvG76y39Q_xYtSiCvEGe9N_Ty8AJAlNseVZnUXrTbNLNP2MMSV6hmMHKgM6vJUjLqAoO_g91Ug6-__MYtX5vGthajuNe_NT92lXfNRbXTmCg1&t=634612892100000000');*/
}

/*footer*/

.RadGrid_LXGrid .rgFooterDiv,
.RadGrid_LXGrid .rgFooter
{
	background:#eee;
}

.RadGrid_LXGrid .rgFooter td
{
	border-top:1px solid #dedede;
	border-bottom:1px solid #fff;
}

/*status*/

.RadGrid_LXGrid .rgPager .rgStatus
{
	border:1px solid #c0c0c0;
	border-left-width:0;
}

.RadGrid_LXGrid .rgStatus div
{
	/*background-image:url('WebResource.axd?d=gU5joLAeDsExV0UsSHdtScghG9z53WjXSiY6mJSqnJGn7hJ0uiKEX2iZLrsxT-VpWPzlGL29W0gEgxmofPM2KQTSP3ZJiaDbqUPlbhpb7EcoFfDjpeCtPbrerkvdE1m-SJ7_JclPlovGmHGWmo0Wt35KZUTP6_thvApSyhLTJlg1&t=634612892100000000');*/
}

/*pager*/

.RadGrid_LXGrid td.rgPagerCell {border:1px solid #c0c0c0;border-right-width:0px;}

.RadGrid_LXGrid .rgPager
{
	background:#fff;
}

.RadGrid_LXGrid td.rgPagerCell
{
	border:1px solid #c0c0c0;
	border-right-width:0;
   
}

.RadGrid_LXGrid .rgInfoPart
{
	color:#333;
    float:none!important;
}

.RadGrid_LXGrid .rgInfoPart strong
{
	color:#4c4e54;
    
}

.RadGrid_LXGrid .rgPageFirst
{
	 background:url("../images/prev2.png") 0px 6px no-repeat;
}
.RadGrid_LXGrid .rgPageFirst:hover
{
    background:url("../images/prev2.png") 0px 6px no-repeat;
}
.RadGrid_LXGrid .rgPagePrev
{
	 background:url("../images/prev.png") 0px 6px no-repeat;
}
.RadGrid_LXGrid .rgPagePrev:hover
{
	background:url("../images/prev.png") 0px 6px no-repeat;
}
.RadGrid_LXGrid .rgPageNext
{
	background:url("../images/next.png") 0px 6px no-repeat;
}
.RadGrid_LXGrid .rgPageNext:hover
{
	background:url("../images/next.png") 0px 6px no-repeat;
}

.RadGrid_LXGrid .rgPageLast
{
	background:url("../images/next2.png") 0px 6px no-repeat;
}
.RadGrid_LXGrid .rgPageLast:hover
{
	background:url("../images/next2.png") 0px 6px no-repeat;
}

.RadGrid_LXGrid .rgPager .rgPagerButton
{
	border-color:#d0d0d0 #aeaeae #8b8b8b;
	background:#e8e8e8 repeat-x 0 -1550px url('/CP/Style/images/telerikicon/icons_grid.gif');
	color:#000;
	
}

/* -- 이미지 께짐. 2014-08-29
.RadGrid_LXGrid .rgNumPart a:hover,
.RadGrid_LXGrid .rgNumPart a:hover span,
.RadGrid_LXGrid .rgNumPart a.rgCurrentPage,
.RadGrid_LXGrid .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('/CP/Style/images/telerikicon/icons_grid.gif');
}
*/
.RadGrid_LXGrid .rgNumPart a
{
	color:#009b83;
}

.RadGrid_LXGrid .rgNumPart a:hover
{
	color:#009b83
}

.RadGrid_LXGrid .rgNumPart a:hover span
{
   
    color:#009b83;
}

.RadGrid_LXGrid .rgNumPart a.rgCurrentPage,
.RadGrid_LXGrid .rgNumPart a.rgCurrentPage:hover
{
	font-weight:bold;
    color:#009b83;
}

.RadGrid_LXGrid .rgNumPart a.rgCurrentPage span,
.RadGrid_LXGrid .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_LXGrid .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_LXGrid .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_LXGrid,
.GridReorderBottom_LXGrid
{
	background:0 0 no-repeat url('/CP/Style/images/telerikicon/icons_grid.gif');
}

.GridReorderBottom_LXGrid
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_LXGrid .rgFilterRow
{
	background:#eee;
}

.RadGrid_LXGrid .rgFilterRow td
{
    border-bottom:1px solid #828282;
}

.RadGrid_LXGrid .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_LXGrid .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_LXGrid .rgFilterActive,
.RadGrid_LXGrid .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_LXGrid .rgFilterBox
{
	border-color:#8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
	font-family:dotum,Verdana,Arial, sans-serif;
	color:#333;
}

/*filter context menu*/

.RadMenu_LXGrid .rgHCMClear,
.RadMenu_LXGrid .rgHCMFilter
{
	border-color:#d0d0d0 #a8a8a8 #8b8b8b;
	/*background:#e8e8e8 center -23px repeat-x url('WebResource.axd?d=BkR3Sbckp2yL2G_xyU5D3ZYF5qx1XInFip-W6g7X2okvJ_BSt5IG9R2R2cjFrL57kBBLLFFFa_wPUmnhpMoHG3WJRS-FMEi_TPZOh4DYwV3vWYV4rjucbwwtTjYOtSjD8_7LUlPb10XcJeB4pv2aIveVcGWreRBVUGwHr8ubt-d00BNfgaTX9Oq6gLLSyVAh0&t=634612892100000000');*/
	color:#000;
	font-family:dotum,Verdana,Arial, sans-serif;
}

.RadMenu_LXGrid .rgHCMClear:hover,
.RadMenu_LXGrid .rgHCMFilter:hover
{
	border-color:#d1d1d1 #b9b9b9 #a3a3a3;
	background-position:center -67px;
	background-color:#e5e5e5;
}

/*context menu*/

.GridContextMenu_LXGrid .rmLeftImage
{
	/*background-image:url('WebResource.axd?d=1MJGryinyigKN_eEsMgXctj8c4xTJqTlfpb9ri1Zrgj0ovI8fATawdio9_yspjYR93qAxxSmVDDifGbdCx59PIcayOYXriiGuMAayPi05WH3gw0RnSTbvwN3wPoEVLXw4JHfJQz8acwmYaO2Jp291Fn2Y-3ULoUqu9VS8LNv5Sk1&t=634612892100000000');*/
}

.GridContextMenu_LXGrid .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_LXGrid .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_LXGrid .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_LXGrid .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_LXGrid .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_LXGrid .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_LXGrid .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_LXGrid .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_LXGrid .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #828282;
	background:#eee 0 -1900px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');
}

.RadGrid_LXGrid .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_LXGrid .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_LXGrid .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_LXGrid .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_LXGrid .rgUngroup
{
	background-position:0 -6998px;
}

.RadGrid_LXGrid .rgGroupItem
{
	border:1px solid;
	border-color:#c4c4c4 #c4c4c4 #9e9e9e;
	background:#c6c6c6 0 -6500px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');
}

.RadGrid_LXGrid .rgMasterTable td.rgGroupCol,
.RadGrid_LXGrid .rgMasterTable td.rgExpandCol
{
	border-color:#d9d9d9;
	background:#d9d9d9 none;
}

.RadGrid_LXGrid .rgGroupHeader
{
    background:#d9d9d9;
    font-size:1.1em;
    line-height:21px;
	color:#000;
}

.RadGrid_LXGrid .rgGroupHeader td
{
	border-top:1px solid #828282;
	border-bottom:1px solid #d9d9d9;
}

.RadGrid_LXGrid .rgGroupHeader td.rgGroupCol
{
	border-top-color:#828282;
}

.RadGrid_LXGrid .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_LXGrid .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_LXGrid .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_LXGrid .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_LXGrid .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_LXGrid .rgDetailTable
{
	border-color:#828282;
}

/*command row*/

.RadGrid_LXGrid .rgCommandRow
{
	background:#c5c5c5 0 -2099px repeat-x url('/CP/Style/images/telerikicon/icons_grid.gif');
	color:#000;
}

.RadGrid_LXGrid .rgCommandCell
{
	border:1px solid;
	border-color:#999 #f2f2f2;
	border-top-width:0;
	padding:0;
}

.RadGrid_LXGrid tfoot .rgCommandCell,
.RadGrid_LXGrid .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top-width:1px;
	border-bottom-width:0;
}

.RadGrid_LXGrid .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_LXGrid .rgCommandTable
{
	border:0;
	border-top:1px solid #fdfdfd;
	border-bottom:1px solid #e7e7e7;
}

.RadGrid_LXGrid .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_LXGrid .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_LXGrid .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_LXGrid .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_LXGrid .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_LXGrid .rgSelected .rgDel
{
	background-position:0 -1775px;
}

.RadGrid_LXGrid .rgExpXLS,
.RadGrid_LXGrid .rgExpDOC,
.RadGrid_LXGrid .rgExpPDF,
.RadGrid_LXGrid .rgExpCSV
{
	/*background-image:url('WebResource.axd?d=nEPhsrMJ9Qk7jgGuZ25H9_AQEh1097uzDcdanW2vKaUnifgY1K83z15R0RZGemz2fSKHwpAZo3k91OnsWCNgXO-J6td-t2IDAfgD2Xz7V5TTgoLzH2d0KTrg4qCoprWZfUjWROHlTI9px4k_YDOPnxT4AdOrnOwILra_CdXAriw1&t=634612892100000000');*/
}

.RadGrid_LXGrid .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_LXGrid .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_LXGrid .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_LXGrid .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_LXGrid
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_LXGrid
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_LXGrid
{
	border:1px solid #828282;
	padding:3px;
	background:#fff;
	color:#333;
}

/*rtl*/

.RadGridRTL_LXGrid .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_LXGrid .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_LXGrid .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_LXGrid .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_LXGrid .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_LXGrid .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_LXGrid .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_LXGrid .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_LXGrid .rgExpand
{
	background-position:-20px -496px;
}

.RadMenu_LXGrid_Context  {border:1px solid #c5c5c5; padding:10px 0 10px 0; background-color:#fff;}