 @import url("RadGrid_style.min.css");
 @import url("RadWindow_style.min.css");

div.divTable { margin:0px; }
div.divTable ul { clear: both; list-style: none; }
div.divTable ul li { float: left; margin-left:6px; margin-right:6px; margin-top:1px; margin-bottom:5px;  }
div.divTable ul li span { margin-right:6px; }

.submenu_on { display:; }
.submenu_off { display:none;}  
/* 녹색버튼 */
.RadButton.rbLinkButton.cssType1	{
	background-color:#009b83;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	border-radius:3px;
	position: relative;
	margin:0px 2px 0px 10px;
	padding:1px 10px 0px 14px;
    border:0;
}
.RadButton.rbLinkButton.cssType1 span.rbText {
	color:#fff;
}
.RadButton.rbLinkButton.cssType1:hover {
	background-color:#05bb9f;
	color:#f3f3f3;
}

/* 회색버튼 */

.RadButton.rbLinkButton.cssType2	{
	border:1px solid #999;
	background-color:#cecece;
	display: inline-block;
	color: #555;
	font-size: 11px;
	border-radius:3px;
	position: relative;
	margin:8px 5px 0 0;
	padding:2px 10px 0 10px;
}
.RadButton.rbLinkButton.cssType2:hover {
	background-color:#cecece;
	color:#555;
}
.RadButton.rbLinkButton.cssType2 span.rbText {
	color:#fff;
}
 
.RadButton.rbLinkButton.cssType3 {
	display: inline-block;
	font-weight:bold;
    height:38px;
	color: #fff; 
	font-size: 12px;
	line-height:38px;
	border-radius:3px;
	position: relative;
	margin-right:2px;
	width:110px;
	text-align:center;
    background-color:#595959!important;
    border:1px solid #595959;


}
.RadButton.rbLinkButton.cssType3 span.rbText { 
	color:#fff;
}
        
.RadButton.rbLinkButton.cssType3:hover {
	color:#fff;
    background-color:#000!important;
	
}

.RadButton.rbLinkButton.rbDisabled {
        margin-top:1px!important;
    margin-left:1px!important;
}

/* 녹색큰버튼 */
.RadButton.rbLinkButton.cssType4	{
	display: inline-block;
	font-weight:bold;
	color: #fff;
    height:38px;
	font-size: 12px;
	line-height:38px;
	border-radius:3px;
	position: relative;
	margin-right:2px;
	width:80px;
	text-align:center;
    background-color:#005447!important;
	
}
.RadButton.rbLinkButton.cssType4 span.rbText {
	color:#fff;
}

.RadButton.rbLinkButton.cssType4:hover {
	color:#fff;
    background-color:#00211c!important;
	
}

/* 회색버튼 */
.RadButton.rbLinkButton.cssType5	{ 
	border:1px solid #666;
	background-color:#777!important;
	display: inline-block;
	color: #fff;
	font-size: 11px;
	border-radius:3px;
	position: relative;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
}
.RadButton.rbLinkButton.cssType5:hover {
	background-color:#666;
	color:#fff;
}
.RadButton.rbLinkButton.cssType5 span.rbText {
	color:#fff;
}

 
/* 녹색버튼 */
.RadButton.rbLinkButton.cssType6	{
	border:1px solid #666;
	background-color:#777;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	border-radius:3px;
	position: relative;
	margin-left:2px;
	padding:5px 10px 3px 10px;
}
.RadButton.rbLinkButton.cssType6:hover {
	background-color:#666;
	color:#fff;
}
.RadButton.rbLinkButton.cssType6 span.rbText {
	color:#fff;
}

 
.RadTabStrip {width:100%; margin-top:30px; font-size:14px; border-bottom:2px solid #009b83;}
.RadTabStrip:after {display:block; content:""; clear:both;}
.RadTabStrip li {float:left; border-right:1px solid #fff; }
.RadTabStrip li a {display:inline-block; padding:7px 15px 5px 15px;  text-decoration:none; text-align:center; background-color:#d7d7d7;}
.RadTabStrip li a:hover {background-color:#008671;color:#fff; }
.RadTabStrip li.on a {background-color:#009b83; font-weight:bold; color:#fff; }
.RadTabStrip li.on a:hover {background-color:#008671;font-weight:bold;}

.RadTabStrip .rtsSelected { display:inline-block; padding:7px 15px 5px 15px;  text-decoration:none; text-align:center; background-color:#d7d7d7; }
.RadTabStrip .rtsSelected .rtsOut { background-color:#009b83;color:#fff; }
.RadTabStrip .rtsSelected .rtsOut .rtsTxt { color:#fff; }
.RadTabStrip .rtsFirst .rtsSelected {background-color:#009b83; font-weight:bold; color:#fff; }
.RadTabStrip :hover .rtsTxt { color:#fff;}
.RadTabStrip .rtsLast .rtsSelected { background-color:#009b83; font-weight:bold; color:#fff;  }
.RadTabStrip .rtsLast .rtsSelected .rtsOut {background-color:#009b83;font-weight:bold; }
.RadTabStrip .rtsLast .rtsSelected .rtsTxt { color:#fff; }

.customprint {
    background: url(/CP/Style/Images/TelerikIcon/printer.png)!important;
    background-size: 16px 16px !important;
    background-repeat: no-repeat !important;
}
.customprint:hover
{
    background: url(/CP/Style/Images/TelerikIcon/printer_over.png)!important;
        background-size:  16px 16px !important;
    background-repeat: no-repeat !important;
}