<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LogonURL>/eWorks/Manage/Authentication/Logon.aspx</LogonURL>
  <LocalDevelop> 
    <UsedYN>N</UsedYN>
    <!-- Local개발 여부 (Y:로컬 개발시 N:서버 배포시)-->
    <UserID>BKKWK</UserID>
    <!--Requester : BKAAF-->
    <UserPwd>1234</UserPwd>
  </LocalDevelop>
  <ServerInfo>
    <Domain>
      <FQDomain>bhc-ap</FQDomain>
      <NetBiosDomain>ap.bayer.cnb</NetBiosDomain>
      <LogonDomain>ap.bayer.cnb</LogonDomain>
      <ADDomain>ap.bayer.cnb</ADDomain>
      <LdapPath>LDAP://BHC-AP</LdapPath>
    </Domain>
    <WebServer>
      <DicCallType>DB</DicCallType>
      <Name>eWorks</Name>
      <FullName>eWorks</FullName>
      <WebRoot>
        <LogicalPath>/eWorks/</LogicalPath>
        <PhysicalPath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\Approval</PhysicalPath>
      </WebRoot>
      <UploadFilePath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\eWorkflow\Storage</UploadFilePath>
      <FileMgr>
        <UploadTempFolder>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\eWorkflow\Storage</UploadTempFolder>
        <PhysicalPath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\eWorkflow\Storage</PhysicalPath>
        <DownLoadPath>/eW/UploadTemp/Board</DownLoadPath>
        <UploadFileExtension>pdf;xls;hwp;psd;gif;jpg;wmv;zip;png;jpeg;avi;wsd;xlsx;txt;docx;doc</UploadFileExtension>
        <DRMFileExtension>*.xls;*.xlsx;*.ppt;*.pptx;*.doc;*.docx;*.hwp</DRMFileExtension>
        <!-- 그룹웨어 파일서버 접근계정-->
        <GwFileMgrAccount>
          <UseYN>Y</UseYN>
          <!--<Domain>win2k8dc.local</Domain>-->
          <Domain>.\</Domain>
          <ID>administrator</ID>
          <Pwd></Pwd>
        </GwFileMgrAccount>
      </FileMgr>
    </WebServer>
    <SQLServer>
      <ServerName>MSSQL</ServerName>
      <ConnectionString>server=BSGSGPS0839\APPD86,54647,54643;database=eWorkflow;Trusted_Connection=True</ConnectionString>
	  <!--<ConnectionString>server=BSGSGPS1051\APPD102,54643;database=eWorkflow;Trusted_Connection=True</ConnectionString>-->
      <!--<ConnectionString>server=10.43.2.60;database=eWorkflow;Trusted_Connection=True</ConnectionString>-->
      <!-- <ConnectionString>server=tcp:bkrseos0125,54345;database=eWorkflow;uid=easadmin;pwd=Qhdskan150</ConnectionString>-->
      <!--<ConnectionString>server=10.43.2.125;database=eWorkflow;uid=easadmin;pwd=Qhdskan150</ConnectionString>-->
      <!--<ConnectionString>server=10.43.2.125;database=eWorkflow;uid=INTERFACE_EWFTEST;pwd=eWork1nter150!test</ConnectionString>-->
      <!--<ConnectionString>server=localhost;database=eWorkflow;uid=sa;pwd=z</ConnectionString>-->
    </SQLServer>
  </ServerInfo>
  <LogInfo>
    <!--서브팀로그레벨(0 : 없음, 1 : Web+Com, 2 : Web, 3 : Com)-->
    <SystemLogLevel>0</SystemLogLevel>
    <SubTeamLogLevel>
      <Common>0</Common>
      <cp>0</cp>
    </SubTeamLogLevel>
    <LogPath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\Log\Application</LogPath>
    <TimeLogPath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\Log\TimeLog</TimeLogPath>
    <ApplicationLog>
      <eWMLogPath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\Log\eWM</eWMLogPath>
      <eGWLogPath>C:\Temp\eWorks_project\eWorks\eWorkflow\2.Web\Log\eGW</eGWLogPath>
      <DebugLogYN>Y</DebugLogYN>
      <ErrorLogYN>Y</ErrorLogYN>
    </ApplicationLog>
  </LogInfo>
  <UserConfigurationDefaultValue>
    <ListCount>15</ListCount>
    <PageCount>10</PageCount>
  </UserConfigurationDefaultValue>
  <PageUI>
    <Title></Title>
    <UseActiveXState>1</UseActiveXState>
  </PageUI>
  <FrameWork>
    <Scripts>
      <Const>
        <Key>WEBROOT</Key>
        <Value>//ServerInfo/WebServer/WebRoot/LogicalPath</Value>
        <Type>Reffer</Type>
      </Const>
      <Const>
        <Key>WEBSERVER</Key>
        <Value>//ServerInfo/WebServer/FullName</Value>
        <Type>Reffer</Type>
      </Const>
      <Const>
        <Key>TITLE</Key>
        <Value>//PageUI/Title</Value>
        <Type>Reffer</Type>
      </Const>
      <Const>
        <Key>WCFSERVICE</Key>
        <Value>//WCFServices/HostURL</Value>
        <Type>Reffer</Type>
      </Const>
      <Const>
        <Key>DIALOGWIDTH</Key>
        <Value>425</Value>
        <Type>Value</Type>
      </Const>
      <Const>
        <Key>DIALOGHEIGHT</Key>
        <Value>405</Value>
        <Type>Value</Type>
      </Const>SF
      <Const>
        <Key>DIALOGSMALLHEIGHT</Key>
        <Value>180</Value>
        <Type>Value</Type>
      </Const>
      <Const>
        <Key>HelpURL</Key>
        <Value>//eWorkflowInfo/HelpURL</Value>
        <Type>Reffer</Type>
      </Const>
    </Scripts>
    <Cryptograph>
      <UsedYN>Y</UsedYN>
    </Cryptograph>
    <SessionExpire></SessionExpire>
  </FrameWork>
  <RefreshOnChange>true</RefreshOnChange>
  <SmtpMailInfo>
    <MailDomain>gmail.com</MailDomain>
    <SmtpServer>exsmtp.de.bayer.cnb</SmtpServer>
    <Sender>zest1116@dotnetsoft.co.kr</Sender>
    <SenderPs>Ey2NPCeu1h5dXq3NRQRXsg==</SenderPs>
    <Port>25</Port>
    <DocumentUrl>http://localhost:56680/eWorks/Approval/Document</DocumentUrl>
    <ReturnGoodsUrl>http://localhost:56680/eWorks/ReturnGoods/ReturnGoods.aspx</ReturnGoodsUrl>
  </SmtpMailInfo>
  <WCFServices>
    <HostURL>http://ewf.kr_test.bayer.cnb/eWorkServices</HostURL>
  </WCFServices>
  <eWorkflowInfo>
    <HelpURL>http://sp-coll-bbs.ap.bayer.cnb/sites/000141/Teamsites/NEW%20e-workflow/Manual_Document</HelpURL>
    <DocError>/eWorks/Manage/ErrorPage/ErrorPage.html</DocError>
  <DocusignAccountId>afd2b721-1d1c-4061-826a-497a2bb9e1c6</DocusignAccountId>
	<DocusignIntegrationKey>f37e262a-8a5e-426d-b31d-d2844d43b26e</DocusignIntegrationKey>
	<DocusignSecretKey>5e7fe9d3-7994-4589-8d5f-b27ed45ab531</DocusignSecretKey>
	<DocusignProxyURI>http://sgp-proxy.bayerbbs.net/proxy.pac</DocusignProxyURI>
	<DocusignBaseAuthURI>https://account.docusign.com</DocusignBaseAuthURI>
	<DocusignBaseSignURI>https://eu.docusign.net</DocusignBaseSignURI>
    <DocusignAuthReturnUrl>http://localhost:56680/eWorks/Approval/Docusign/DocusignCallback.aspx</DocusignAuthReturnUrl>
  </eWorkflowInfo>
</configuration>