
/* doc_data */
.data_type1 table	{ position:relative; width:100%; border-collapse:collapse; margin-bottom:20px;}
.data_type1 table thead th { border:1px solid #cfcfcf; padding:5px 10px 5px 10px;  text-align:center; background-color:#e7e7e7;}
.data_type1 table tbody th { border:1px solid #cfcfcf; padding:5px 10px 5px 10px;  text-align:left; background-color:#e7e7e7;}
.data_type1 table tbody td { border:1px solid #cfcfcf; padding:7px 10px 5px 10px;  text-align:left;}
.data_type1 table tbody td.align_center {text-align:center;}
.data_type1 table tbody td.align_right {text-align:right;}


.data_type2 table	{ position:relative; width:100%; border-collapse:collapse; }
.data_type2 table thead th { border:1px solid #cfcfcf; padding:5px 10px 5px 10px;  /*text-align:center;*/ background-color:#e7e7e7;}
.data_type2 table tbody th { border:1px solid #cfcfcf; padding:5px 10px 5px 10px;  /*text-align:center;*/ background-color:#e7e7e7;}
.data_type2 table tbody td { border:1px solid #cfcfcf; padding:7px 10px 5px 10px;  /*text-align:center;*/}

.data_type3 .style_table	{ position:relative; width:100%; border-collapse:collapse; margin-bottom:20px;}
.data_type3 .style_table .style_th { border:1px solid #cfcfcf; padding:5px 10px 5px 10px;  text-align:center; background-color:#e7e7e7;}
.data_type3 .style_table .style_td { border:1px solid #cfcfcf; padding:7px 10px 5px 10px;  text-align:left;}
.data_type3 .style_table .style_td.align_center {text-align:center;}
.data_type3 .style_table .style_td.align_right {text-align:right;}



/*.board_list table	{ position:relative; width:100%; border-collapse:collapse;  border-top:2px solid #0090c5; margin-bottom:10px;}*/
/*.board_list table thead th { border-bottom:1px solid #cfcfcf; padding:7px 10px 7px 10px;  text-align:center; background-color:#e7e7e7;}
.board_list table tbody td { border-bottom:1px solid #cfcfcf; padding:5px 10px 5px 10px; vertical-align:middle; text-align:center;}
.board_list table tbody td.text_left {  text-align:left;}*/

.config_type1 table	{ position:relative; width:100%; border-collapse:collapse; margin-bottom:10px;}
.config_type1 table thead th { border:1px solid #cfcfcf; padding:3px 10px 3px 10px;  text-align:center; background-color:#e7e7e7;}
.config_type1 table tbody th { border:1px solid #cfcfcf; padding:3px 10px 3px 10px;  text-align:left; background-color:#e7e7e7;}
.config_type1 table tbody td { border:1px solid #cfcfcf; padding:5px 10px 3px 10px;  text-align:left;}
.config_type1 table tbody td.align_center {text-align:center;}
.config_type1 table tbody td.align_right {text-align:right;}

.reporting {position:relative; float:left; width:150px; text-align:left; margin-left:0px; min-height:500px;overflow:hidden; border-right:1px solid #cfcfcf;}
.reporting_content {text-align:left; padding-left:5px;  overflow:auto;}
.reporting ul {margin:0px; }
.reporting li {padding:4px 0 0 25px;   background:url("../../styles/images/po2.png") no-repeat 0 10px;  }
.reporting li a {font-size:15px; }
.reporting li a:hover {font-size:15px; text-decoration:none;}
.reporting h2 {color:#0090c5; font-size:16px; font-weight:normal; padding:20px 0 10px 210px!important; line-height:25px;  background:none;}
.reporting h2 span {font-size:30px; font-weight:bold; }
.reporting .num	{position:absolute; top:520px; right:50px; }
.reporting_btn {display:inline-block; position:relative; width:100%; height:30px; padding:10px 0 0 0; }
.reporting_btn ul {
    width: 100%;
    position: fixed;
    right: 0;
}
.reporting_btn li	{display:inline-block; text-align:center; }
.reporting_btn li a:hover	{text-decoration:none;}

.reporting_list { overflow-x:scroll; }







