 
.RadButton.rbLinkButton.cssType1	{
	background-color:transparent;
	margin:0px;
	padding:0px;
    border:0;    
}
.RadButton.rbLinkButton.cssType1 span.rbText {
	color:#fff;
        border:0;
}

.RadButton.rbLinkButton.cssType1:hover {
        background: #d0d0d0!important;
        text-decoration: none!important;
        color: #555!important;
    }


.RadButton.rbLinkButton.btn_gray {
    border: 1px solid #bbbbbb!important;
    background-color: #c9c9c9!important;
    display: inline-block;
    color: #555!important;
    text-align:center; 
    font-size: 11px;
    height:19px;
    border-radius: 3px;
    position: relative;
 padding:1px  3px 0 3px;  -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;
}

.RadButton.rbLinkButton.btn_gray span.rbText {
        color: #fff!important;
        display: inline-block;
        text-align: center;
        border: 0;
    }

.RadButton.rbLinkButton.btn_gray:hover {
        background: #d0d0d0!important;
        text-decoration: none!important;
        color: #555!important;
    }
