/*Telerik RadGrid Default Skin*/

/*global*/

 
.RadGrid_EXGrid
{
    border:0px solid #828282;
    background:#fff;
    color:#333;
    font-family:dotum,Verdana,Arial, sans-serif;
    font-size:12px;
    border-top:2px solid #0090c5; 
}


.RadGrid_EXGrid .rgAdd,
.RadGrid_EXGrid .rgRefresh,
.RadGrid_EXGrid .rgEdit,
.RadGrid_EXGrid .rgDel,
.RadGrid_EXGrid .rgFilter,
.RadGrid_EXGrid .rgPagePrev,
.RadGrid_EXGrid .rgPageNext,
.RadGrid_EXGrid .rgPageFirst,
.RadGrid_EXGrid .rgPageLast,
.RadGrid_EXGrid .rgExpand,
.RadGrid_EXGrid .rgCollapse,
.RadGrid_EXGrid .rgSortAsc,
.RadGrid_EXGrid .rgSortDesc,
.RadGrid_EXGrid .rgUpdate,
.RadGrid_EXGrid .rgCancel,
.RadGrid_EXGrid .rgUngroup,
.RadGrid_EXGrid .rgExpXLS,
.RadGrid_EXGrid .rgExpDOC,
.RadGrid_EXGrid .rgExpPDF,
.RadGrid_EXGrid .rgExpCSV
{
	background-image:url('../../images/telerikicon/icons_grid.gif');
}

/*header*/

.RadGrid_EXGrid .rgHeaderDiv
{
	background:#eee 0 -7550px repeat-x url('../../images/telerikicon/icons_grid.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7050px;
}

.RadGrid_EXGrid .rgHeader,
.RadGrid_EXGrid th.rgResizeCol
{
	height:20px;
	border:0;
	
}
.RadGrid_EXGrid .rgHeader
{
    { border-bottom:1px solid #cfcfcf; padding:7px;  text-align:center; background-color:#e7e7e7;}
}


.RadGrid_EXGrid th.rgSorted
{
	background-color:#f6f6f6;
	background-position:0 -2600px;

   
}

.RadGrid_EXGrid .rgHeader,
.RadGrid_EXGrid .rgHeader a
{
    color:#333;
}

/*rows*/

.RadGrid_EXGrid .rgRow td,
.RadGrid_EXGrid .rgAltRow td,
.RadGrid_EXGrid .rgEditRow td,
.RadGrid_EXGrid .rgFooter td
{
	border-style:solid;
	border-width:0 1px 1px 0;
    border-color:#f2f2f2;
}

.RadGrid_EXGrid .rgRow td
{
	border-color:#f2f2f2;
}

.RadGrid_EXGrid .rgAltRow
{
	background:#f2f2f2;
}

.RadGrid_EXGrid .rgAltRow td
{
	border-color:#f2f2f2;
}

.RadGrid_EXGrid .rgRow .rgSorted
{
	border-bottom-color:#f2f2f2;
	background-color:#f2f2f2;
}

.RadGrid_EXGrid .rgAltRow .rgSorted
{
	border-bottom-color:#e6e6e6;
	background-color:#e6e6e6;
}

.RadGrid_EXGrid .rgSelectedRow .rgSorted,
.RadGrid_EXGrid .rgActiveRow .rgSorted,
.RadGrid_EXGrid .rgHoveredRow .rgSorted,
.RadGrid_EXGrid .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_EXGrid .rgRow a,
.RadGrid_EXGrid .rgAltRow a,
.RadGrid_EXGrid .rgEditRow a,
.RadGrid_EXGrid tr.rgEditRow a,
.RadGrid_EXGrid tr.rgHoveredRow a,
.RadGrid_EXGrid tr.rgActiveRow a,
.RadGrid_EXGrid .rgFooter a,
.RadGrid_EXGrid .rgEditForm a
{
	color:#000;
}

.RadGrid_EXGrid .rgSelectedRow
{
    background:#e3e9ea; /*background:#e3e9ea 0 -3900px repeat-x url('../../images/telerikicon/icons_grid.gif');
    color:#555*/
}
*+html .RadGrid_EXGrid .rgSelectedRow .rgSorted{background-color:#e3e9ea}
* html .RadGrid_EXGrid .rgSelectedRow .rgSorted{background-color:#e3e9ea}

.RadGrid_EXGrid .rgSelectedRow a
{
	/*color:#555*/
}

.RadGrid_EXGrid .rgActiveRow,
.RadGrid_EXGrid .rgHoveredRow
{
    background:#c5c5c5 0 -2900px repeat-x url('../../images/telerikicon/icons_grid.gif');
    color:#333;
}
*+html .RadGrid_EXGrid .rgActiveRow .rgSorted,
*+html .RadGrid_EXGrid .rgHoveredRow .rgSorted{background-color:#c5c5c5}
* html .RadGrid_EXGrid .rgActiveRow .rgSorted,
* html .RadGrid_EXGrid .rgHoveredRow .rgSorted{background-color:#c5c5c5}

.RadGrid_EXGrid .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('../../images/telerikicon/icons_grid.gif');
	color:#333;
}
*+html .RadGrid_EXGrid .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_EXGrid .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_EXGrid .rgActiveRow td,
.RadGrid_EXGrid .rgActiveRow td.rgSorted,
.RadGrid_EXGrid .rgHoveredRow td,
.RadGrid_EXGrid .rgHoveredRow td.rgSorted
{
	border-bottom-color:#e3e9ea;
}

.RadGrid_EXGrid .rgSelectedRow td,
.RadGrid_EXGrid .rgSelectedRow td.rgSorted
{
	border-bottom-color:#e3e9ea;
}

.RadGrid_EXGrid .rgDrag
{
	/*background-image:url('WebResource.axd?d=8GlRj-fHm7xBw0YK6YChnOnLC5PtrxteTAdehVAiORA9lU0g00atW7gorOVZk4yTvG76y39Q_xYtSiCvEGe9N_Ty8AJAlNseVZnUXrTbNLNP2MMSV6hmMHKgM6vJUjLqAoO_g91Ug6-__MYtX5vGthajuNe_NT92lXfNRbXTmCg1&t=634612892100000000');*/
}

/*footer*/

.RadGrid_EXGrid .rgFooterDiv,
.RadGrid_EXGrid .rgFooter
{
	background:#eee;
}

.RadGrid_EXGrid .rgFooter td
{
	border-top:1px solid #dedede;
	border-bottom:1px solid #fff;
}

/*status*/

.RadGrid_EXGrid .rgPager .rgStatus
{
	border:1px solid #c0c0c0;
	border-left-width:0;
}

.RadGrid_EXGrid .rgStatus div
{
	/*background-image:url('WebResource.axd?d=gU5joLAeDsExV0UsSHdtScghG9z53WjXSiY6mJSqnJGn7hJ0uiKEX2iZLrsxT-VpWPzlGL29W0gEgxmofPM2KQTSP3ZJiaDbqUPlbhpb7EcoFfDjpeCtPbrerkvdE1m-SJ7_JclPlovGmHGWmo0Wt35KZUTP6_thvApSyhLTJlg1&t=634612892100000000');*/
}

/*pager*/

.RadGrid_EXGrid td.rgPagerCell {border:1px solid #c0c0c0;border-right-width:0px;}

.RadGrid_EXGrid .rgPager
{
	background:#fff;
}

 
.RadGrid_EXGrid .rgPageFirst
{
	 background:url("../../images/telerikicon/prev2.png") 0px 6px no-repeat;
}
.RadGrid_EXGrid .rgPageFirst:hover
{
    background:url("../../images/telerikicon/prev2.png") 0px 6px no-repeat;
}
.RadGrid_EXGrid .rgPagePrev
{
	 background:url("../../images/telerikicon/prev.png") 0px 6px no-repeat;
}
.RadGrid_EXGrid .rgPagePrev:hover
{
	background:url("../../images/telerikicon/prev.png") 0px 6px no-repeat;
}
.RadGrid_EXGrid .rgPageNext
{
	background:url("../../images/telerikicon/next.png") 0px 6px no-repeat;
}
.RadGrid_EXGrid .rgPageNext:hover
{
	background:url("../../images/telerikicon/next.png") 0px 6px no-repeat;
}

.RadGrid_EXGrid .rgPageLast
{
	background:url("../../images/telerikicon/next2.png") 0px 6px no-repeat;
}
.RadGrid_EXGrid .rgPageLast:hover
{
	background:url("../../images/telerikicon/next2.png") 0px 6px no-repeat;
}

/*.RadGrid_EXGrid .rgPager .rgPagerButton
{
	border-color:#d0d0d0 #aeaeae #8b8b8b;
	background:#e8e8e8 repeat-x 0 -1550px url('../../images/telerikicon/icons_grid.gif');
	color:#000;
	
}*/

/* -- 이미지 께짐. 2014-08-29
.RadGrid_EXGrid .rgNumPart a:hover,
.RadGrid_EXGrid .rgNumPart a:hover span,
.RadGrid_EXGrid .rgNumPart a.rgCurrentPage,
.RadGrid_EXGrid .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('../../images/telerikicon/icons_grid.gif');
}
*/
.RadGrid_EXGrid .rgNumPart a
{
	color:#0090c5;
}

.RadGrid_EXGrid .rgNumPart a:hover
{
	color:#0090c5;
}

.RadGrid_EXGrid .rgNumPart a:hover span
{
   
    color:#0090c5;
}

.RadGrid_EXGrid .rgNumPart a.rgCurrentPage,
.RadGrid_EXGrid .rgNumPart a.rgCurrentPage:hover
{
	font-weight:bold;
    color:#0090c5;
}

.RadGrid_EXGrid .rgNumPart a.rgCurrentPage span,
.RadGrid_EXGrid .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/
.RadGrid_EXGrid .rgHeader  th
{ border-bottom:1px solid #cfcfcf; padding:7px 10px 7px 10px;  text-align:center; background-color:#e7e7e7;}

.RadGrid_EXGrid .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_EXGrid .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_EXGrid,
.GridReorderBottom_EXGrid
{
	background:0 0 no-repeat url('../../images/telerikicon/icons_grid.gif');
}

.GridReorderBottom_EXGrid
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_EXGrid .rgFilterRow
{
	background:#eee;
}

.RadGrid_EXGrid .rgFilterRow td
{
    border-bottom:1px solid #828282;
}

.RadGrid_EXGrid .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_EXGrid .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_EXGrid .rgFilterActive,
.RadGrid_EXGrid .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_EXGrid .rgFilterBox
{
	border-color:#8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
	font-family:dotum,Verdana,Arial, sans-serif;
	color:#333;
}

/*filter context menu*/

.RadMenu_EXGrid .rgHCMClear,
.RadMenu_EXGrid .rgHCMFilter
{
	border-color:#d0d0d0 #a8a8a8 #8b8b8b;
	/*background:#e8e8e8 center -23px repeat-x url('WebResource.axd?d=BkR3Sbckp2yL2G_xyU5D3ZYF5qx1XInFip-W6g7X2okvJ_BSt5IG9R2R2cjFrL57kBBLLFFFa_wPUmnhpMoHG3WJRS-FMEi_TPZOh4DYwV3vWYV4rjucbwwtTjYOtSjD8_7LUlPb10XcJeB4pv2aIveVcGWreRBVUGwHr8ubt-d00BNfgaTX9Oq6gLLSyVAh0&t=634612892100000000');*/
	color:#000;
	font-family:dotum,Verdana,Arial, sans-serif;
}

.RadMenu_EXGrid .rgHCMClear:hover,
.RadMenu_EXGrid .rgHCMFilter:hover
{
	border-color:#d1d1d1 #b9b9b9 #a3a3a3;
	background-position:center -67px;
	background-color:#e5e5e5;
}

/*context menu*/

.GridContextMenu_EXGrid .rmLeftImage
{
	/*background-image:url('WebResource.axd?d=1MJGryinyigKN_eEsMgXctj8c4xTJqTlfpb9ri1Zrgj0ovI8fATawdio9_yspjYR93qAxxSmVDDifGbdCx59PIcayOYXriiGuMAayPi05WH3gw0RnSTbvwN3wPoEVLXw4JHfJQz8acwmYaO2Jp291Fn2Y-3ULoUqu9VS8LNv5Sk1&t=634612892100000000');*/
}

.GridContextMenu_EXGrid .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_EXGrid .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_EXGrid .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_EXGrid .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_EXGrid .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_EXGrid .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_EXGrid .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_EXGrid .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_EXGrid .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #828282;
	background:#eee 0 -1900px repeat-x url('../../images/telerikicon/icons_grid.gif');
}

.RadGrid_EXGrid .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_EXGrid .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_EXGrid .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_EXGrid .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_EXGrid .rgUngroup
{
	background-position:0 -6998px;
}

.RadGrid_EXGrid .rgGroupItem
{
	border:1px solid;
	border-color:#c4c4c4 #c4c4c4 #9e9e9e;
	background:#c6c6c6 0 -6500px repeat-x url('../../images/telerikicon/icons_grid.gif');
}

.RadGrid_EXGrid .rgMasterTable td.rgGroupCol,
.RadGrid_EXGrid .rgMasterTable td.rgExpandCol
{
	border-color:#d9d9d9;
	background:#d9d9d9 none;
}

.RadGrid_EXGrid .rgGroupHeader
{
    background:#d9d9d9;
    font-size:1.1em;
    line-height:21px;
	color:#000;
}

.RadGrid_EXGrid .rgGroupHeader td
{
	border-top:1px solid #828282;
	border-bottom:1px solid #d9d9d9;
}

.RadGrid_EXGrid .rgGroupHeader td.rgGroupCol
{
	border-top-color:#828282;
}

.RadGrid_EXGrid .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_EXGrid .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_EXGrid .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_EXGrid .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_EXGrid .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_EXGrid .rgDetailTable
{
	border-color:#828282;
}

/*command row*/

.RadGrid_EXGrid .rgCommandRow
{
	background:#c5c5c5 0 -2099px repeat-x url('../../images/telerikicon/icons_grid.gif');
	color:#000;
}

.RadGrid_EXGrid .rgCommandCell
{
	border:1px solid;
	border-color:#999 #f2f2f2;
	border-top-width:0;
	padding:0;
}

.RadGrid_EXGrid tfoot .rgCommandCell,
.RadGrid_EXGrid .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top-width:1px;
	border-bottom-width:0;
}

.RadGrid_EXGrid .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_EXGrid .rgCommandTable
{
	border:0;
	border-top:1px solid #fdfdfd;
	border-bottom:1px solid #e7e7e7;
}

.RadGrid_EXGrid .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_EXGrid .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_EXGrid .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_EXGrid .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_EXGrid .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_EXGrid .rgSelected .rgDel
{
	background-position:0 -1775px;
}

.RadGrid_EXGrid .rgExpXLS,
.RadGrid_EXGrid .rgExpDOC,
.RadGrid_EXGrid .rgExpPDF,
.RadGrid_EXGrid .rgExpCSV
{
	/*background-image:url('WebResource.axd?d=nEPhsrMJ9Qk7jgGuZ25H9_AQEh1097uzDcdanW2vKaUnifgY1K83z15R0RZGemz2fSKHwpAZo3k91OnsWCNgXO-J6td-t2IDAfgD2Xz7V5TTgoLzH2d0KTrg4qCoprWZfUjWROHlTI9px4k_YDOPnxT4AdOrnOwILra_CdXAriw1&t=634612892100000000');*/
}

.RadGrid_EXGrid .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_EXGrid .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_EXGrid .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_EXGrid .rgExpCSV
{
	background-position:0 -150px;
}
 
.GridRowSelector_EXGrid
{
	background:#4c4e54;
}

 
.GridItemDropIndicator_EXGrid
{
    border-top:1px dashed #666;
}
 
.GridToolTip_EXGrid
{
	border:1px solid #828282;
	padding:3px;
	background:#fff;
	color:#333;
}

 

.RadGridRTL_EXGrid .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_EXGrid .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_EXGrid .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_EXGrid .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_EXGrid .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_EXGrid .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_EXGrid .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_EXGrid .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_EXGrid .rgExpand
{
	background-position:-20px -496px;
}

.RadMenu_EXGrid_Context  {border:1px solid #c5c5c5; padding:10px 0 10px 0; background-color:#fff;}

 


.RadGrid_EXGrid .rgMasterTable, .RadGrid .rgDetailTable, .RadGrid .rgEditForm table {
    /*border-collapse: separate;
    border-spacing: 0;
    margin-bottom:10px;*/
    position:relative; width:100%; border-collapse:collapse;
}
 

.RadGrid_EXGrid .rgRow, .RadGrid .rgAltRow, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgPager, .RadGrid .rgGroupPanel, .RadGrid .rgGroupHeader {
    cursor: default;
}

.RadGrid_EXGrid input {
    line-height: normal;
}

    .RadGrid input[type="image"] {
        cursor: pointer;
    }

.RadGrid_EXGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td, .RadGrid .rgFilterRow td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td {
    padding-left: 7px;
    padding-right: 7px;
}

.RadGrid_EXGrid .rgClipCells .rgHeader, .RadGrid .rgClipCells .rgFilterRow > td, .RadGrid .rgClipCells .rgRow > td, .RadGrid .rgClipCells .rgAltRow > td, .RadGrid .rgClipCells .rgEditRow > td, .RadGrid .rgClipCells .rgFooter > td {
    overflow: hidden;
    /*
    text-overflow:ellipsis;
    white-space:nowrap;
        */
}

.RadGrid_EXGrid .rgSave, .RadGrid .rgAdd, .RadGrid .rgRefresh, .RadGrid .rgEdit, .RadGrid .rgDel, .RadGrid .rgDrag, .RadGrid .rgFilter, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageFirst, .RadGrid .rgPageLast, .RadGrid .rgExpand, .RadGrid .rgCollapse, .RadGrid .rgSortAsc, .RadGrid .rgSortDesc, .RadGrid .rgUpdate, .RadGrid .rgCancel, .RadGrid .rgUngroup, .RadGrid .rgExpXLS, .RadGrid .rgExpDOC, .RadGrid .rgExpPDF, .RadGrid .rgExpCSV {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer;
}

.RadGrid_EXGrid .rgBatchChanged {
    /*background-image: url('../../images/TelerikIcon/icn_gridCheck.png');*/
    background-position: 0 0;
    background-repeat: no-repeat;
}

.RadGrid_EXGrid .rgSave {
    background-position: 0 -1825px;
    height: 18px;
    width: 18px;
}

.RadGrid_EXGrid .rgSave, .RadGrid .rgCancel {
    margin: 0 3px 0 10px;
}

.RadGrid_EXGrid .rgBatchContainer {
    max-width: 90%;
}

.RadGrid_EXGrid .rgGroupItem input, .RadGrid .rgCommandRow img, .RadGrid .rgCommandRow a, .RadGrid .rgHeader input {
    vertical-align: middle;
}

.RadGrid_EXGrid .rgFilterRow img, .RadGrid .rgFilterRow input {
    vertical-align: middle;
}

.RadGrid_EXGrid .rgFilterRow .RadAutoCompleteBox {
    display: inline-block;
    vertical-align: middle;
}

* + html .RadGrid_EXGrid .rgFilterRow .RadAutoCompleteBox {
    display: inline;
}

.RadGrid_EXGrid .rgPager img {
    vertical-align: middle;
}

.RadGrid_EXGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td {
    padding-top: 4px;
    padding-bottom: 3px;
}

.RadGrid_EXGrid table.rgMasterTable tr .rgDragCol {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.RadGrid_EXGrid .rgDrag {
    width: 15px;
    height: 15px;
}

.RadGrid_EXGrid .rgPager .rgStatus {
    width: 35px;
    padding: 3px 0 2px;
}

.RadGrid_EXGrid .rgStatus div {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border: 0;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -2222px;
}

.RadGrid_EXGrid .rgPager td {
    padding: 0;
}

.RadGrid_EXGrid td.rgPagerCell {
    border: 0;
    padding: 5px 0 4px;
}

.RadGrid_EXGrid .rgWrap {
    float: left;
    padding:10px 10px;
    line-height: 22px;
    white-space: nowrap;
}



.RadGrid_EXGrid .rgArrPart1 {
    padding-right: 0;
}

.RadGrid_EXGrid .rgArrPart2 {
    padding-left: 10px;
}

.RadGrid_EXGrid .rgInfoPart {
    float: right;
   
}

    .RadGrid_EXGrid .rgInfoPart strong {
        font-weight: normal;
    }

.RadGrid_EXGrid .rgArrPart1 img, .RadGrid .rgArrPart2 img {
    border: 0;
    margin: -3px 1px 0;
}

.RadGrid_EXGrid .rgPageFirst, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageLast {
    width: 22px;
    height: 22px;
    vertical-align: top;
}

.RadGrid_EXGrid .NextPrev .rgPageFirst, .RadGrid .NextPrev .rgPagePrev, .RadGrid .NextPrev .rgPageNext, .RadGrid .NextPrev .rgPageLast {
    vertical-align: middle;
}

.RadGrid_EXGrid .rgPageFirst, .RadGrid .rgPagePrev {
    margin-right: 1px;
}

.RadGrid_EXGrid .rgPageNext, .RadGrid .rgPageLast {
    margin-left: 1px;
}

.RadGrid_EXGrid .rgPager .rgPagerButton {
    height: 22px;
    border-style: solid;
    border-width: 1px;
    margin: 0 14px 0 0;
    padding: 0 4px 2px;
    font-size: 12px;
    line-height: 12px;
    vertical-align: top;
    cursor: pointer;
}

.RadGrid_EXGrid .rgNumPart {
    padding: 0;
}

.RadGrid_EXGrid .NumericPages .rgNumPart {
    padding: 0 10px;
}

.RadGrid_EXGrid .rgNumPart a {
    float: left;
    line-height: 22px;
    margin: 0;
    padding: 0 5px 0 0;
    text-decoration: none;
}

.RadGrid_EXGrid .rgNumPart span {
    float: left;
    padding: 0 0 0 5px;
}

.RadGrid_EXGrid .rgNumPart a:hover span {
    cursor: pointer;
}

.RadGrid_EXGrid .rgNumPart a.rgCurrentPage {
    cursor: default;
}

    .RadGrid .rgNumPart a.rgCurrentPage:hover, .RadGrid .rgNumPart a.rgCurrentPage span, .RadGrid .rgNumPart a.rgCurrentPage:hover span {
        cursor: default;
    }

.RadGrid_EXGrid .NextPrevNumericAndAdvanced .rgAdvPart {
    float: none;
    text-align: center;
}

.RadGrid_EXGrid .rgPager .RadSlider {
    float: left;
    margin: 0 10px 0 0;
}

.RadGrid_EXGrid .rgPagerLabel {
    margin: 0 4px 0 0;
    vertical-align: top;
}

.RadGrid_EXGrid .rgPager .RadComboBox {
    margin: 0 4px 0 0;
    vertical-align: top;
}

.RadGrid_EXGrid .rgPager .RadInput {
    margin: 0 4px 0 0;
    vertical-align: top;
    display: inline-block;
}

.RadGrid_EXGrid .rgPager .riTextBox {
    height: 15px;
}

.RadGrid_EXGrid div.rgHeaderWrapper {
    border-left: 0 none;
    border-right: 0 none;
    padding: 0;
    overflow: hidden;
    background-color: #e7e7e7;
}

.RadGrid_EXGrid .rgFooterWrapper {
    border-top-style: solid;
    overflow: hidden;
}

.rgCellSelectorArea {
    position: absolute;
    z-index: 1000100;
    opacity: .1;
    -moz-opacity: .1;
    filter: alpha(opacity=10);
}

.rgNoScrollImage div.rgHeaderDiv {
    background-image: none;
}

.rgMultiHeader {
    overflow: hidden;
}

    .rgMultiHeader .rgHeaderDiv {
        margin-left: -1px;
    }

.rgHeaderWrapper .rgHeaderDiv {
    margin-bottom: -1px;
    margin-right: -1px;
    border-right: 1px solid transparent;
}

.rgFooterWrapper .rgFooterDiv {
    margin-top: -1px;
}

.RadGrid_EXGrid .rgHeader, .RadGrid th.rgResizeCol {
    /*padding-top: 5px;*/
    padding-bottom: 4px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #cfcfcf;
    padding: 7px;
    text-align: center;
    background-color: #e7e7e7;
}

    .RadGrid_EXGrid .rgHeader a {
        text-decoration: none;
    }

.RadGrid_EXGrid .rgCheck input {
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
}

.RadGrid_EXGrid .rgRotateHeader {
    vertical-align: top;
}

    .RadGrid .rgRotateHeader a, .RadGrid .rgRotateHeader span {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 11px 11px;
        -moz-transform-origin: 11px 11px;
        -o-transform-origin: 11px 11px;
        transform-origin: 11px 11px;
        writing-mode: tb-rl;
        display: inline-block;
    }

._Telerik_IE9 .RadGrid .rgRotateHeader a, ._Telerik_IE9 .RadGrid .rgRotateHeader span {
    transform: rotate(0);
}

.rfdCheckbox .RadGrid .rgCheck input {
    height: 20px;
}

.rgPager .riSingle .riTextBox {
    height: 22px;
}

* + html .RadGrid_EXGrid .rgPager .RadComboBox {
    margin-top: -1px;
}

* html .RadGrid_EXGrid .rgPager .RadComboBox {
    margin-top: -1px;
    padding: 1px 0;
}

.RadGrid_EXGrid .rgPagerTextBox {
    text-align: center;
}

.GridReorderTop, .GridReorderBottom {
    width: 9px;
    height: 9px;
    margin: 0 0 0 -5px;
    padding: 0;
}

._EXGrid_EXGrid .rgFilterRow td {
    padding-top: 4px;
    padding-bottom: 7px;
}
 
.rgFilterRow .riSingle .riTextBox {
    height: 22px;
}

.RadGrid_EXGrid .rgFilterRow .RadInput, .RadGrid .rgFilterRow .RadRating {
    display: inline-block;
    vertical-align: middle;
}

* + html .RadGrid .rgFilterRow .RadRating, * html .RadGrid .rgFilterRow .RadRating {
    display: inline;
    zoom: 1;
}

div.RadMenu.GridContextMenu .rmContent {
    white-space: normal;
    padding-left: 35px;
    padding-right: 10px;
}

.GridContextMenu li.rgHCMFilter {
    background: 0;
}

.GridContextMenu .rmLeftImage {
    background-repeat: no-repeat;
    background-color: transparent;
}

.GridContextMenu .rmArrow {
    z-index: 2000;
}

.RadMenu .rmGroup .rgHCMItem .rmText {
    width: 161px;
    padding: 6px 5px 5px 30px;
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd, .rgHCMItem .rgHCMFilter {
    display: block;
}

.rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd {
    padding-top: 5px;
    line-height: 12px;
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .RadComboBox {
    margin: 0 0 5px;
}

.rgHCMItem .rgHCMAnd {
    margin: 0 0 5px;
    margin-top: 5px;
}

.rgHCMItem .rgHCMFilter {
    margin-top: 11px;
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMFilter {
    width: 160px;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 0;
    font-size: 12px;
    cursor: pointer;
}

.RadFilterMenu_CheckList .RadListBox {
    display: block;
    margin-bottom: 7px;
    margin-top: 5px;
    width: 200px;
    max-height: 250px;
    overflow: auto;
    border-left: 0 none;
}

.RadFilterMenu_CheckList div.rlbGroup {
    background: 0;
    border-left: none;
}

.RadFilterMenu_CheckList li.rlbItem {
    padding-left: 3px;
}

.RadFilterMenu_CheckList .rlbGroup li.rlbActive {
    padding-left: 2px;
}

.RadFilterMenu_CheckList ul.rmGroup li.rmLast {
    padding-bottom: 5px;
}

.RadFilterMenu_CheckList .rmGroup div.rmText {
    padding: 0 10px 0 0;
    margin-left: 0;
}

.RadFilterMenu_CheckList .rlbCheck {
    float: left;
    clear: both;
    margin-right: 12px;
}

.RadFilterMenu_CheckList span.rlbText {
    display: block;
    padding-left: 30px;
}

.RadFilterMenu_CheckList .rgFilterApply, .RadFilterMenu_CheckList .rgFilterCancel {
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    padding: 0 6px 2px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

.RadFilterMenu_CheckList .rgFilterApply {
    margin-left: 5px;
    margin-left: 33px;
}


    .RadGrid_EXGrid .rgGroupHeader td p {
        display: inline;
        margin: 0;
        padding: 0 10px;
    }

    .RadGrid_EXGrid .rgGroupHeader td div div {
        top: -0.8em;
        padding: 0 10px;
    }

.RadGrid_EXGrid table.rgMasterTable tr .rgGroupCol, .RadGrid table.rgMasterTable tr .rgExpandCol {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
/*\*/

* html .RadGrid_EXGrid .rgGroupHeader td div div {
    top: 0;
}
    /**/

    .RadGrid_EXGrid .rgGroupHeader td div div div {
        top: 0;
        padding: 0;
        border: 0;
    }

.RadGrid_EXGrid .rgUpdate, .RadGrid .rgCancel {
    width: 18px;
    height: 18px;
}


.RadGrid_EXGrid .rgAdd, .RadGrid .rgRefresh {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}
 
* html .RadGrid_EXGrid .rgPager .RadComboBox, * html .RadGrid .rgPager .RadInput {
    vertical-align: middle;
}

* html .RadGrid_EXGrid .rgAdd, * html .RadGrid .rgRefresh {
    vertical-align: middle;
}

.RadGrid_EXGrid .rgEdit, .RadGrid .rgDel {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-indent: -9999px;
}

.rgPager thead, .rgPager caption, .rgCommandTable thead {
    display: none;
}

.RadGridRTL .rgHeader, .RadGridRTL .rgResizeCol {
    text-align: right;
}

.RadGridRTL .rgPager .rgStatus {
    border-right: 0;
    border-left-width: 1px;
}

* + html .RadGridRTL .rgNumPart a {
    float: none;
    display: inline;
    zoom: 1;
}

.RadGridRTL .rgWrap {
    float: right;
}

.RadGridRTL .rgArrPart1 {
    padding: 0 10px 0 5px;
}

.RadGridRTL .rgArrPart2 {
    padding: 0 5px 0 10px;
}

.RadGridRTL .rgPageFirst, .RadGridRTL .rgPagePrev {
    margin-right: 0;
    margin-left: 1px;
}

.RadGridRTL .rgPageNext, .RadGridRTL .rgPageLast {
    margin-left: 0;
    margin-right: 1px;
}
 

.RadGridRTL .rgDetailTable {
    border-right-width: 1px;
    border-left-width: 0;
}

.RadGridRTL input.rgRefresh, .RadGridRTL input.rgAdd {
    margin: 0 0 0 4px;
}
 
.RadGridRTL .rgSliderLabel {
    float: right;
}

.RadGridRTL .rgPager div.RadSlider {
    float: right;
    margin: 0 0 0 10px;
}

.rcbList {background-color:#fff!important; cursor:pointer!important;}
.rgNumPart {padding-top:10px!important;}